<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

{% for article in articles %}

     <a href=" {{ article.get_absolute_url }} " target="_blank">  {{ article.title }}</a> <br>

{% endfor %}

{% include "pagination.html" with page=articles %}

</body>
</html>